.road-selection-page{
    width: 100%;
}
body{
    margin: 0;
}
#road-selection-page-background-img{
    width: 100%;
    height: 99vh;
    object-fit: cover;
    position: relative;
}
.game-name{
    position: absolute;
    top: 5%;
    left: 10%;
}
.way-selcion{
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#one-way-image{
    width: 300px;
}
#two-way-image{
    width: 300px;
}
footer{
    border-top: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}